*{
    margin: 0;
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
/* common style */
main{
    max-width: 1440px;
    margin: 0 auto;
}
.section-heading{
    color:#131313;
    font-size: 2.5em;
    font-weight: 700;
}
.section-description{
    margin: 1.2em 0;
    color:#727272;
    font-size: 1em;
    font-weight: 400;
}
.button-primary{
    padding: 1em 1.2em;
    border: 0;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
}
/* nav style */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 3em 10em;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: space-around;

}
nav ul li{
    list-style: none;
    margin-right: 3em;
}
nav ul li a{
    text-decoration: none;
    color: #424242;
    text-align: center;
    font-size: 1.1em;
    font-weight: 500;
}
/* banner style */
.banner{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    margin-top: 5rem;
    color: #131313;
    font-size: 3.5em;
    font-weight: 700;
}
.banner-image{
    margin-top: 2em;
    width: 100%;
}
/* quick-list-feature section style */
.quick-list-feature{
    margin: 4em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-content{
    margin-left: 3em;
    width: 47%;
}
.section-heading > small{
    color:#727272;
    font-size: 2.5rem;
    font-weight: 500;
}
.section-heading > span{
    color: #FF900E;
}
.image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
}
.image-container img{
    width: 100%;
}
/* features-you-will */
.features-you-will{
    margin: 4em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#orange-line{
    width: 60%;
    padding-left: 1rem;
    border-left: 5px solid #FF900E;
}
.features-container{
    width: calc((100% - 7rem)/2);
    margin-right: 7rem;
}
.features{
    margin-bottom: 1rem;
    padding: 1.8rem 1.8rem 1rem 1.8rem;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.sub-heading{
    color: #131313;
    font-size: 20px;
    font-weight: 600;
}
.features-img{
    width: calc((100% - 8rem)/2);
    position: relative;
}
#year-button{
    padding: 30px;
    position: absolute;
    bottom: -50px;
    left: -70px;
}
.button-primary > h2{
    color: #FFF;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}
.button-primary > p{
    color: #FFF;    
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}
.features-you-will div img{
    width: 100%;
}




/*  some-facts style */
.some-facts{
    margin: 4em 0;
}
.some-facts-content{
    width: 45%;
}
.card-container{
    margin: 6rem 2.5rem;
    display: flex;
    justify-content: space-between;
}
.card{
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 220px;
    border-radius: 8px;
    border: 1px solid #FF900E;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.card-stats{
    color: #424242;
    font-size: 45px;
    font-weight: 600;
}
.card-title{
    color: #727272;
    font-size: 20px;
    font-weight: 600;
}






















/* responsive small device */
@media screen and (max-width:576px) {
    /* common responsive */
    nav, .quick-list-feature{
        flex-direction: column;
    }
    .quick-list-feature{
        margin: 50px 20px;
    }
    .button-primary{
        padding: .8em 1em;
        font-size: 1em;
    }
    /* header section */
    header{
        padding: 50px 20px;
    }
    .section-heading{
        font-size: 2em;
    }
    nav ul li{
        margin-top: 1em;
        margin-right: 1.2em;
    }
    .banner-title{
        font-size: 2.5em;
    }
    /* quick-list-feature section */
    .section-content{
        margin-left: 0;
        margin-top: 20px;
        width: 100%;
    }
    .image-container{
        gap: 1em;
    }
}




/*  responsive medium device */
@media screen and (min-width:576px) and (max-width:960px) {
        /* common responsive */
        .quick-list-feature{
            flex-direction: column;
        }
        .quick-list-feature{
            margin: 70px 60px;
        }
        .button-primary{
            padding: .8em 1em;
            font-size: 1em;
        }
        /* header section */
        header{
            padding: 70px 50px;
        }
        .section-heading{
            font-size: 2em;
        }
        nav ul li{
            margin-top: 1em;
            margin-right: 1.2em;
        }
        .banner-title{
            font-size: 2.5em;
        }
            /* quick-list-feature section */
        .section-content{
            margin-left: 0;
            margin-top: 40px;
            width: 100%;
        }
}